.SkeletonLoader {
  position: relative;
}

.SkeletonLoader-content {
  position: initial;
  overflow: auto;
  z-index: 1;
}

.SkeletonLoader-shimmer {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  /*background-color: rgba(255,255,255,0.6);*/
  background-image: linear-gradient(to right, rgba(255,255,255,0.65) 0%, rgba(255,255,255,0.45) 10%, rgba(255,255,255,0.65) 20%);
  background-size: 200% 100px;
  background-position: 100% 0;
  pointer-events: none;
  z-index: 2;
}

.SkeletonLoader--darkBG .SkeletonLoader-shimmer {
  /*background-color: rgba(23,34,50,0.75);*/
  background-image: linear-gradient(to right, rgba(23,34,50,0.85) 0%, rgba(23,34,50,0.75) 10%, rgba(23,34,50,0.85) 20%);
}
.SkeletonLoader--animate .SkeletonLoader-shimmer {
  animation: animation-Shimmer 1.2s forwards infinite linear;
}

@keyframes animation-Shimmer {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}
