.SkeletonLoader {
  position: relative;
}

.SkeletonLoader-content {
  position: initial;
  overflow: auto;
  z-index: 1;
}

.SkeletonLoader-shimmer {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: rgba(255,255,255,0.45);
  background: linear-gradient(to right, rgba(255,255,255,0.65) 0%, rgba(255,255,255,0.45) 10%, rgba(255,255,255,0.65) 20%);
  background-size: 200% 100px;
  animation: animation-Shimmer 1.2s forwards infinite linear;
  pointer-events: none;
  z-index: 2;
}

@keyframes animation-Shimmer {
  0% {
    background-position: 50% 0;
  }
  100% {
    background-position: -50% 0;
  }
}
