.UserExpense {
    position: relative;
    max-width: 420px;
    min-width: 360px;
    margin: 0 auto;
    text-align: left;
    background: #fff;
    overflow: hidden;

    .UserExpense-details {
        padding: 0 16px;
    }

    .title {
        margin: 16px 0 4px;
        font-size: 12px;
        font-weight: bold;
        line-height: 16px;
        text-transform: uppercase;
        color: #afafaf;
    }

    .description {
        line-height: 20px;
        font-size: 14px;
        margin-bottom: 4px;

        & + .title {
            margin-top: 28px;
        }
    }

    .expense-amount {
        font-size: 24px;
        font-weight: bold;
        color: #10d6a0;
    }

    .UserExpense-actions {
        margin-top: 28px;
        padding: 16px 0;
        text-align: right;
        border-top: 1px solid #e8e8e8;
    }

    .UserExpense-actions-btn {
        display: inline-block;
        vertical-align: middle;
        padding: 0 12px;
        height: 48px;
        min-width: 100px;
        line-height: 48px;
        font-size: 13px;
        border-radius: 24px;
        text-align: center;
        font-weight: bold;
        text-transform: uppercase;

        &:nth-child(n+2) {
            margin-left: 16px;
        }
    }

    .UserExpense-actions-btn--approve {
        background: #16af16;
        color: #fff
    }

    .UserExpense-actions-btn--request {
        background: #2121bb;
        color: #fff
    }
}

///////////////////////

// VirtualCard can be different component. If so, below code can be moved to separate file VirtualCard/index.css

.VirtualCard {
    position: relative;
    height: 248px;
    border-radius: 12px;
    background-color: #172232;
    padding: 16px;
    color: #f2f2f2;

    .VirtualCard-profileImg {
        display: inline-block;
        width: 48px;
        height: 48px;
        padding: 4px;
        vertical-align: top;
        border-radius: 50%;
    }

    .VirtualCard-details {
        display: inline-block;
        vertical-align: top;
        margin-left: 16px;
        text-transform: uppercase;
        font-weight: bold;
    }

    .VirtualCard-title {
        font-size: 20px;
        margin-bottom: 8px;
    }

    .VirtualCard-description {
        font-size: 14px;
        opacity: .8
    }
}


.UserExpenseLoader {
    cursor: wait;
}
